@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

input {
  outline: none;
}

/* HEADER */
.header {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;
  padding: 25px 0;
}

.header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo_name {
  color: #222222;
  font-family: "Lato", sans-serif;
  font-size: 27px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-transform: uppercase;
  margin-left: 13px;
}

.logo_name__span {
  color: #f16d7f;
  font-weight: 700;
}

.browse {
  position: relative;
}

.browse__title {
  margin-left: 37px;
  margin-top: 10px;
  font-size: 14px;
  width: 87px;
  text-align: center;
  line-height: 2.29;
  list-style: none;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 0.35px;
  color: #222222;
  background-color: #e8e8e8;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.browse__title i {
  margin-left: 8px;
}

.browse__title:hover {
  background-color: #fff;
  color: #000;
}

.browse__menu {
  position: absolute;
  left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 8px 3px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 3px 8px 3px rgba(34, 60, 80, 0.2);
  z-index: 1;
}

.browse__menu::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: -7px;
  left: 66px;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.browse__menu-title {
  border-bottom: 1px solid #e6e6e6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  color: #232323;
  margin-bottom: 10px;
}

.browse__menu a + p {
  margin-top: 10px;
}

.browse__item {
  text-decoration: none;
  line-height: 2;
  color: #4f4f4f;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.browse__item:hover {
  color: #f16d7f;
}

.search {
  position: relative;
}

.search__input {
  width: 317px;
  margin-top: 10px;
  border: solid 1px #e6e6e6;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.29;
  letter-spacing: 0.35px;
  color: #000;
  padding-left: 16px;
  padding-right: 45px;
}

.search__input::-webkit-input-placeholder {
  color: #a4a4a4;
}

.search__input:-ms-input-placeholder {
  color: #a4a4a4;
}

.search__input::-ms-input-placeholder {
  color: #a4a4a4;
}

.search__input::placeholder {
  color: #a4a4a4;
}

.search__btn {
  position: absolute;
  top: 0;
  right: -36px;
  margin-top: 10px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 2.29;
  letter-spacing: 0.35px;
  text-align: right;
  color: #a4a4a4;
  background-color: #fff;
  border: solid 1px #e6e6e6;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.search__btn:hover {
  color: #000;
}

.fas {
  color: #a4a4a4;
  font-size: 14px;
}

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_right__img {
  margin-right: 26px;
  display: block;
}

.btn {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 32px;
  background-color: #f16d7f;
  text-decoration: none;
  padding: 6px 19px;
  display: block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  background-color: #adadad;
  color: white;
}

.fa-caret-down {
  color: #fff;
  margin-left: 6px;
}

.basket {
  position: relative;
}

.basket__title {
  padding: 3px;
  list-style: none;
  cursor: pointer;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
  border: 1px solid #fff;
}

.basket__title:hover {
  border-color: #f16d7f;
}

.basket__menu {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 8px 3px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 3px 8px 3px rgba(34, 60, 80, 0.2);
  z-index: 1;
  margin-top: 15px;
}

.basket__menu::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: -7px;
  left: 14px;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.basket__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  margin-bottom: 17px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 17px;
}

.basket__img {
  margin-right: 15px;
}

.basket__info {
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.basket__info h4 {
  margin-bottom: 10px;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.basket__info-price {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #f16d7f;
}

.basket__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: center;
      align-self: center;
}

.basket__close-link {
  color: #c0c0c0;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.basket__close-link:hover {
  color: #f16d7f;
  cursor: pointer;
}

.basket__link:hover ~ .busket__info h4 {
  color: #f16d7f;
}

.basket__link::after {
  content: '';
  display: block;
  width: 85%;
  height: 100%;
  position: absolute;
}

.basket__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}

.basket__check {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 18px 0;
  margin-bottom: 15px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.basket__check:hover {
  background-color: #f16d7f;
  color: #000;
}

.basket__cart {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #4a4a4a;
  border: 1px solid #e6e6e6;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 18px 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.basket__cart:hover {
  background-color: #f16d7f;
}

.account {
  margin-left: 26px;
}

.account__title {
  list-style: none;
  cursor: pointer;
  width: 130px;
  line-height: 2.5;
  letter-spacing: 0.38px;
  text-align: center;
  color: #ffffff;
  background-color: #f16d7f;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.account__title i {
  margin-left: 8px;
}

.account__title:hover {
  color: #000;
}

/* NAV */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.menu_item {
  margin-right: 46px;
}

.menu_item:last-of-type {
  margin-right: 0;
}

.menu_item__heading {
  color: #232323;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  width: 235px;
  padding: 8px;
  margin-bottom: 8px;
}

.menu_item__under_heading {
  margin-top: 13px;
}

.menu_link {
  text-decoration: none;
  color: #222222;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  display: block;
  padding: 20px 25px;
}

.menu_list {
  position: relative;
}

.menu_list:hover .mega_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.last:hover .mega_box {
  right: 0;
}

.last:hover .mega_box::before {
  right: 43px;
  top: -7px;
  left: unset;
}

/* Не понял как нормально выставить картинку эту, сделал просто марджином */
.mega_box_img {
  margin-top: 19px;
}

/* Не знаю кому именно задать транзишн, что бы плавно появлалась */
.mega_box {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  position: absolute;
  padding: 20px;
  z-index: 1000;
  display: none;
  top: 53px;
}

.mega_box::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  position: absolute;
  top: -7px;
  left: 33px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mega_link {
  display: block;
  color: #646464;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.mega_link:hover {
  color: #f16d7f;
}

/* SECTION BANNER */
.sec_banner {
  background-color: #e8e8e8;
}

.container_banner {
  position: relative;
}

.img_banner {
  display: block;
}

.banner_intro {
  position: absolute;
  top: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner_text_start {
  color: #222222;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 60px;
  font-style: normal;
  letter-spacing: 1.5px;
  line-height: normal;
  text-transform: uppercase;
}

.banner_text_end {
  color: #222222;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 40px;
  font-style: normal;
  letter-spacing: 1.5px;
  line-height: normal;
  text-transform: uppercase;
}

.banner_text_span {
  color: #f16d7f;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 40px;
  font-style: normal;
  letter-spacing: 1.5px;
  line-height: normal;
  text-transform: uppercase;
}

.vertical_line {
  background-color: #f16d7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12px;
  height: 97px;
  margin-top: 14px;
  margin-right: 10px;
}

/* SECTION OFFER */
.sec_offer {
  padding-top: 98px;
}

.offer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer_link {
  display: block;
  text-decoration: none;
  position: relative;
}

.offer_link__img {
  display: block;
}

.offer_link__img_first {
  margin-bottom: 20px;
}

.offer_title {
  background-color: #ffffff;
  position: absolute;
  top: 26px;
  padding: 7px 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.offer_name {
  color: #222222;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.75px;
}

.offer_name__span {
  color: #f16d7f;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.75px;
}

.offer_link:hover .offer_title {
  -webkit-transform: scale(1.2) translatex(13px);
          transform: scale(1.2) translatex(13px);
}

/* SECTION ITEMS */
.sec_items {
  padding-top: 100px;
}

.section_title {
  text-align: center;
}

.section_title__heading {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.item_box {
  margin-top: 60px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item {
  width: 263px;
  position: relative;
  margin-bottom: 40px;
}

.item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item:hover .item_pic {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.item:hover .add_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item_link {
  display: block;
  width: 263px;
  text-decoration: none;
}

.item_pic {
  width: 100%;
}

.txt_box {
  padding: 15px;
}

.txt_desc {
  color: #222222;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.txt_price {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #f16d7f;
}

.add_box {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 28%;
  width: 100%;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border: 1px solid #fff;
  text-decoration: none;
}

.add:hover {
  -webkit-box-shadow: 0 0 8px #fff;
          box-shadow: 0 0 8px #fff;
}

.add_txt {
  color: #fff;
}

.btn {
  border: none;
  cursor: pointer;
}

.sec_items_btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.sec_items_btn:hover {
  background-color: #4b4b4b;
  color: white;
}

.fa-long-arrow-alt-right {
  color: #fff;
  margin-left: 5px;
}

/* PINs */
.sec_pins {
  padding-top: 114px;
  padding-bottom: 97px;
}

.sec_pins__wrap {
  background: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.women_banner {
  position: relative;
}

.winter-women {
  display: block;
}

.winter-women_info {
  position: absolute;
  top: 136px;
  left: 39px;
}

.winter-woman_title {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.winter-woman_span {
  color: #f16d7f;
}

.winter-woman_subtitle {
  font-size: 32px;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.pins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pins_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  margin-left: 36px;
}

.pins_icon {
  display: block;
}

.pins_icon_center {
  margin-top: 124px;
  margin-bottom: 114px;
}

.pins_info {
  margin-top: 55px;
  margin-left: 33px;
}

.pin_wrap {
  width: 219px;
}

.pin_wrap_center {
  margin: 45px 0;
}

.pin_title {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
}

.pin_text {
  color: #cfcfcf;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 17px;
}

/* SECTION SUBSCRIBE */
.sec_subscribe {
  background: url(../img/form-bg.jpg) no-repeat;
  background-size: cover;
  padding-top: 111px;
  padding-bottom: 168px;
}

.cointainer_sec_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.figure_quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.figure_text {
  margin-left: 28px;
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  width: 386px;
}

figcaption {
  margin-top: 16px;
  margin-left: 110px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
}

.figcap_span {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
}

.subscribe_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 165px;
  margin-top: px;
}

.form_title {
  color: #222224;
  font-weight: 400;
  text-align: center;
}

.form_heading {
  font-size: 24px;
  letter-spacing: 0.6px;
  font-weight: 400;
  margin-bottom: 10px;
}

.form_text {
  font-size: 14px;
}

.subscribe_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.subs_form__input {
  border: none;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  width: 334px;
  height: 46px;
  padding-left: 28px;
}

.subcribe_form__btn {
  border-radius: 0 23px 23px 0;
  font-size: 14px;
  font-weight: 400;
}

/* FOOTER */
.footer {
  padding-top: 109px;
}

.footer_autro_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 89px;
}

.logo_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand_info {
  margin-right: 64px;
}

.brand_info_text {
  width: 427px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 20px;
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_nav__heading {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.column2 {
  margin-left: 137px;
  margin-right: 97px;
}

.footer_nav__ul {
  list-style-type: none;
}

.footer_nav__list {
  margin-bottom: 25px;
}

.footer_nav__list:last-child {
  margin-bottom: 0;
}

.footer_nav__link {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.copyright {
  background-color: #e6e6e6;
  padding: 15px 0;
}

.copyright_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy_text {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
}

.copyright_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright_link {
  background: #fff;
  color: #000;
  text-decoration: none;
  margin-left: 8px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.copyright_link:hover {
  color: #fff;
  background-color: #f16d7f;
}

.copyright_link:hover .fab {
  color: #fff;
}

.fa-facebook-f {
  color: #b2b2b2;
  padding: 8px 11px;
}

.fa-twitter {
  color: #b2b2b2;
  padding: 9px 8px;
}

.invision {
  padding: 10px 10px;
}

.fa-pinterest-p {
  color: #b2b2b2;
  padding: 8px 10px;
}

.fa-google-plus-g {
  color: #b2b2b2;
  padding: 9px 6px;
}

.crumbs {
  background-color: #f8f3f4;
}

.crumbs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.crumbs__title {
  padding: 65px 0;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: center;
  color: #f16d7f;
  text-transform: uppercase;
}

.crumbs__path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crumbs__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crumbs__item-current {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
  padding-top: 2px;
}

.crumbs__item:not(:last-child):after {
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
  color: #636363;
}

.crumbs__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  text-transform: uppercase;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.crumbs__link:hover {
  color: #f16d7f;
}

.product {
  margin-top: 71px;
}

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec_product_imgs {
  background-color: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 42px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}

.sec_product_imgs .sec_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec_product_imgs .arrows {
  display: block;
  background-color: #2a2a2a;
  padding: 16px 21px;
  opacity: 30%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sec_product_imgs .arrows:hover {
  opacity: 50%;
}

.sec_prd-desc {
  position: relative;
  margin-top: -85px;
}

.prd-desc_container {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-bottom: 122px;
  padding-top: 73px;
}

.prd-desc_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.prd-desc_wrap .prd-desc_container_name {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.prd-desc_wrap .desc_heading {
  margin-top: 34px;
  color: #4d4d4d;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

.prd-desc_wrap .prd-desc {
  color: #5e5e5e;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-top: 57px;
  width: 618px;
}

.prd-desc_wrap .props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
}

.prd-desc_wrap .prop_right {
  margin-right: 44px;
}

.prd-desc_wrap .prop_txt {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.prd-desc_wrap .prop_txt span {
  color: #b9b9b9;
}

.prd-desc_wrap .prd-desc_price {
  text-align: center;
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  margin-top: 37px;
  margin-bottom: 43px;
}

.choose_form {
  width: 642px;
  border-top: 1px solid #eaeaea;
  margin: 0 auto;
  padding-top: 63px;
}

.chooses {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 537px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choose_title {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-bottom: 16px;
}

.choose_detal {
  border: 1px solid #eaeaea;
  width: 144px;
  display: block;
  padding: 8px 17px;
}

.choose_summary {
  color: #bcbcbc;
  display: block;
}

.choose_input {
  border: 1px solid #eaeaea;
  width: 144px;
  padding: 10px 17px;
}

.add_btn {
  margin-top: 28px;
  display: block;
  cursor: pointer;
  color: #f16d7f;
  background-color: white;
  border: 1px solid #ef5b70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 214px;
}

.add_btn .button_txt {
  margin-left: 15px;
  font-size: 12px;
  font-weight: 700;
}

.also_title {
  margin-top: 120px;
  text-transform: uppercase;
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.filter {
  color: #ef5b70;
  font-weight: 700;
  border-bottom: 1px solid #ebebeb;
  width: 243px;
  padding: 14px 16px;
}

.filter_ul {
  padding: 22px;
}

.filter_li {
  list-style-type: none;
  margin-bottom: 15px;
}

.filter_li:last-child {
  margin-bottom: 0px;
}

.filter_link {
  color: #6f6e6e;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.filter_link:hover {
  color: #f16d7f;
}

.product_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__box {
  -ms-flex-preferred-size: 74%;
      flex-basis: 74%;
}

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  color: #6f6e6e;
  text-transform: uppercase;
}

.product__radio {
  display: none;
}

.product__radio-label {
  font-size: 14px;
  line-height: 1.86;
  color: #6f6e6e;
  cursor: pointer;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.product__radio-label:hover {
  color: #f16d7f;
}

.product__radio-label:not(:last-child):after {
  content: "|";
  margin-left: 5px;
  margin-right: 5px;
  color: #636363;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.product__check {
  cursor: pointer;
}

.product__check:hover + .product__check__check-label {
  color: #f16d7f;
}

.product__check:hover + .product__check__check-label:checked + .product__check:hover + .product__check__check-label__check-label {
  color: #f16d7f;
}

.product__check-label {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.86;
  color: #6f6e6e;
  text-transform: uppercase;
  -webkit-transition: color .2s;
  transition: color .2s;
  cursor: pointer;
}

.product__check-label:hover {
  color: #f16d7f;
}

.product__check-label:not(:last-child) {
  margin-right: 23px;
}

.product__wrapper {
  width: 848px;
}

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 41px;
  padding: 10px 0 10px 10px;
  background-color: #f3f3f3;
}

.choice__title {
  padding: 7px 13px;
  font-size: 14px;
  color: #6f6e6e;
  border: solid 1px #ebebeb;
  background-color: white;
}

.choice__select {
  padding: 7px 13px;
  font-size: 14px;
  color: #6f6e6e;
  border: solid 1px #ebebeb;
  background-color: white;
}

.choice__select:not(:last-child) {
  margin-right: 10px;
}

.details_wrap {
  margin-right: 50px;
}

.items__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items__view {
  display: block;
  padding: 16px 47px 15px;
  border-radius: 3px;
  border: solid 1px #f16d7f;
  font-size: 16px;
  font-weight: 300;
  color: #f16d7f;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.items__view:hover {
  background-color: #f16d7f;
  color: #000;
}

.page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 15px 15px;
  border-radius: 3px;
  border: solid 1px #ebebeb;
  background-color: white;
  list-style-type: none;
}

.page__item:not(:last-child) {
  margin-right: 15px;
}

.page__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #c4c4c4;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.page__link:hover {
  color: #f16d7f;
}

.page__link-active {
  color: #f16d7f;
}

.item_box_product {
  margin-bottom: 0;
}

.sec_product {
  padding-top: 60px;
  padding-bottom: 100px;
}

.product__banner {
  background-color: #222224;
}

.banner__info-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #fbfbfb;
  -webkit-transition: color .2s;
  transition: color .2s;
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
}

.banner__info-box:hover {
  color: #f16d7f;
}

.banner__info-image {
  text-align: center;
  margin-top: 89px;
}

.banner__info-title {
  font-size: 20px;
  font-weight: 700;
}

.banner__info-title-center {
  text-align: center;
  padding-top: 32px;
}

.banner__info-subtitle {
  color: #989898;
  font-size: 15px;
  line-height: 23.95px;
  font-weight: 400;
}

.banner__info-subtitle-center {
  text-align: center;
  margin-top: 17px;
  margin-bottom: 114px;
}

.cart__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 22px;
}

.cart__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 25px;
}

.cart__title-right {
  width: 625px;
}

.cart__column {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.54;
  letter-spacing: -0.2px;
  color: #222222;
  text-transform: uppercase;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  color: #656565;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 26px;
  padding-bottom: 25px;
}

.cart__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
}

.cart__product:hover {
  cursor: pointer;
  outline: 1px solid #eaeaea;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.cart__product:hover:hover .cart__product:hover__description-title {
  color: #f16d7f;
}

.cart__description {
  margin-left: 21px;
  font-size: 13px;
}

.cart__description-title {
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 28px;
  color: #222222;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.cart__description-text {
  color: #575757;
  line-height: 1.54;
}

.cart__description-text span {
  margin-left: 5px;
  font-weight: 300;
  color: #6f6e6e;
}

.cart__data {
  margin-right: 14px;
  width: 595px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__quantity-data {
  width: 50px;
  font-size: 13px;
  color: #575757;
  padding: 10px 8px;
  border: 1px solid #eaeaea;
  text-align: center;
}

.cart__action-link {
  text-decoration: none;
  color: #656565;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.cart__action-link:hover {
  color: #f16d7f;
}

.cart__buttons {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 63px;
}

.cart__button {
  padding: 20px 38px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #4a4a4a;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.cart__button:hover {
  color: #000;
  cursor: pointer;
  background-color: #f16d7f;
}

.cart__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart__adress-title {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.cart__adress-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__adress-form-country {
  font-family: Lato;
  width: 355px;
  padding: 16px 12px;
  border: 1px solid #eaeaea;
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  margin-bottom: 20px;
}

.cart__adress-form-text {
  font-family: Lato;
  width: 355px;
  padding: 16px 12px;
  border: 1px solid #eaeaea;
  font-size: 13px;
  font-weight: 300;
  color: #000;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.cart__adress-form-text::-webkit-input-placeholder {
  color: #b1b1b1;
}

.cart__adress-form-text:-ms-input-placeholder {
  color: #b1b1b1;
}

.cart__adress-form-text::-ms-input-placeholder {
  color: #b1b1b1;
}

.cart__adress-form-text::placeholder {
  color: #b1b1b1;
}

.cart__adress-form-btn {
  width: 130px;
  padding: 12px 14px;
  border: 1px solid #eaeaea;
  font-size: 11px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.cart__adress-form-btn:hover {
  background-color: #f16d7f;
  color: #000;
}

.cart__discount-subtitle {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 24px;
}

.cart__discount-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__discount-form-text {
  font-family: Lato;
  width: 355px;
  padding: 16px 12px;
  border: 1px solid #eaeaea;
  font-size: 13px;
  font-weight: 300;
  color: #000;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.cart__discount-form-text::-webkit-input-placeholder {
  color: #b1b1b1;
}

.cart__discount-form-text:-ms-input-placeholder {
  color: #b1b1b1;
}

.cart__discount-form-text::-ms-input-placeholder {
  color: #b1b1b1;
}

.cart__discount-form-text::placeholder {
  color: #b1b1b1;
}

.cart__discount-form-btn {
  width: 130px;
  padding: 12px 14px;
  border: 1px solid #eaeaea;
  font-size: 11px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.cart__discount-form-btn:hover {
  background-color: #f16d7f;
  color: #000;
}

.cart__total {
  width: 360px;
  height: 90%;
  background-color: #f5f3f3;
  padding: 40px 43px;
}

.cart__total-suptitle {
  font-size: 11px;
  text-align: right;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.cart__total-suptitle span {
  margin-left: 20px;
}

.cart__total-title {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  color: #222222;
  text-transform: uppercase;
  padding-bottom: 22px;
  margin-bottom: 18px;
  border-bottom: 1px solid #e2e2e2;
}

.cart__total-title span {
  margin-left: 20px;
  color: #f16d7f;
}

.cart__total-btn {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .2s;
  transition: color .2s;
  padding: 19px 42px;
  background-color: #f16d7f;
}

.cart__total-btn:hover {
  color: #000;
}

.details_check_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout__content {
  display: none;
}

.checkout__content-guest {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  margin-left: 35px;
}

.checkout__content-guest-title {
  text-transform: uppercase;
  font-size: 13px;
  color: #222222;
  margin-top: 33px;
  margin-bottom: 15px;
}

.checkout__content-guest-text {
  font-size: 13px;
  line-height: 1.54;
  text-align: left;
  color: #b3b2b2;
  margin-bottom: 34px;
}

.checkout__content-registed-title {
  text-transform: uppercase;
  font-size: 13px;
  color: #222222;
  margin-top: 33px;
  margin-bottom: 15px;
}

.checkout__content-registed-text {
  font-size: 13px;
  line-height: 1.54;
  text-align: left;
  color: #b3b2b2;
  margin-bottom: 27px;
}

.form__guest-label {
  margin-left: 10px;
  content: '';
  font-size: 12px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 700;
}

.form__guest-btn {
  margin-top: 38px;
  padding: 19px 54px;
  border: solid 1px #eaeaea;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  background-color: white;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form__guest-btn:hover {
  background-color: #f16d7f;
  color: #000;
}

.form__guest-link {
  display: block;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.54;
  color: #b3b2b2;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.form__guest-link::before {
  content: '\f101';
  font-family: 'fontAwesome';
  margin-right: 8px;
}

.form__guest-link:hover {
  color: #f16d7f;
}

.form__registed-info {
  font-size: 12px;
  color: #222222;
  margin-bottom: 16px;
}

.form__registed-info sup {
  vertical-align: baseline;
}

.form__registed-info span {
  color: #ff0d0d;
  font-size: 17px;
}

.form__registed-input {
  width: 390px;
  margin-bottom: 23px;
  border: solid 1px #eaeaea;
  padding: 14px;
}

.form__registed-required {
  font-size: 13px;
  color: #ff0d0d;
  margin-bottom: 32px;
}

.form__registed-btn {
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  padding: 20px 55px;
  margin-right: 32px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form__registed-btn:hover {
  color: #000;
  background-color: #f16d7f;
}

.form__registed-link {
  text-decoration: none;
  font-size: 14px;
  color: #222222;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.form__registed-link:hover {
  color: #f16d7f;
}

.summary_check {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.checks_wrap {
  padding: 33px 0px;
  border-bottom: 1px solid #e8e8e8;
}

.sec_check {
  padding-top: 90px;
  padding-bottom: 90px;
}
/*# sourceMappingURL=main.css.map */