/* 
font-family: 'Lato', sans-serif;
 */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* HEADER */

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
    padding: 25px 0;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left {
    display: flex;
}

.logo_link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_name {
    color: #222222;
    font-family: Lato;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-transform: uppercase;
    margin-left: 13px;
}

.logo_name__span {
    color: #f16d7f;
    font-weight: 700;
    ;
}

.header_left__form {
    display: flex;
    align-items: center;
    margin-left: 38px;
}

.header_left__form div {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 26px;
    border-right: none;
}

.header_left__input {
    height: 40px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    border-collapse: collapse;
    border-right: none;
}

.form_btn {
    cursor: pointer;
    height: 40px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    padding: 0 14px;
}

.header_right {
    display: flex;
}

.header_right__img {
    margin-right: 26px;
    display: block;
}

.btn {
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 32px;
    background-color: #f16d7f;
    text-decoration: none;
    padding: 6px 19px;
    display: block;
}

/* NAV */

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

/* .menu_list {
} */

.menu_link {
    text-decoration: none;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    display: block;
    padding: 20px 25px;
}

/* SECTION BANNER */

.sec_banner {
    background-color: #e8e8e8;
}

.container_banner {
    position: relative;
}

.img_banner {
    display: block;
}

.banner_intro {
    position: absolute;
    top: 224px;
    display: flex;
}

.banner_text_start {
    color: #222222;
    font-family: Lato;
    font-weight: 900;
    font-size: 60px;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: normal;
    text-transform: uppercase;
}

.banner_text_end {
    color: #222222;
    font-family: Lato;
    font-weight: 900;
    font-size: 40px;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: normal;
    text-transform: uppercase;
}

.banner_text_span {
    color: #f16d7f;
    font-family: Lato;
    font-weight: 900;
    font-size: 40px;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: normal;
    text-transform: uppercase;
}

.vertical_line {
    background-color: #f16d7f;
    display: flex;
    width: 12px;
    height: 97px;
    margin-top: 14px;
    margin-right: 10px;
}

/* SECTION OFFER */

.sec_offer {
    padding-top: 98px;
}

.offer_wrap {
    display: flex;
    justify-content: space-between;
}

.offer_link {
    display: block;
    text-decoration: none;
    position: relative;
}

.offer_link__img {
    display: block;
}

.offer_link__img_first {
    margin-bottom: 20px;
}

.offer_title {
    background-color: #ffffff;
    position: absolute;
    top: 26px;
    padding: 7px 14px;
    transition: all 0.2s;
}

.offer_name {
    color: #222222;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.75px;
}

.offer_name__span {
    color: #f16d7f;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.offer_link:hover .offer_title {
    transform: scale(1.2) translatex(13px);
}

/* SECTION ITEMS */

.sec_items {
    padding-top: 100px;
}

.section_title {
    text-align: center;
}

.section_title__heading {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.items {
    margin-top: 60px;
}

.section_title__text {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.item {
    text-decoration: none;
    display: block;
    width: 261px;
}

.item_info {
    padding: 20px 0;
    padding-left: 15px;
}

.item_name {
    color: #222222;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.item_price {
    color: #f16d7f;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.items_row_first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.items_row_second {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.btn {
    border: none;
    cursor: pointer;
}

.sec_items_btn {
    justify-content: center;
    margin: 0 auto;
}

/* PINs */

.sec_pins {
    padding-top: 114px;
    padding-bottom: 97px;
}

.sec_pins__wrap {
    background: #222224;
    display: flex;
}

.women_banner {
    position: relative;
}

.winter-women {
    display: block;
}

.winter-women_info {
    position: absolute;
    top: 136px;
    left: 39px;
}

.winter-woman_title {
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.winter-woman_span {
    color: #f16d7f;
}

.winter-woman_subtitle {
    font-size: 32px;
    color: #ffffff;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.pins {
    display: flex;
}

.pins_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    margin-left: 36px;
}

.pins_icon {
    display: block;
}

.pins_icon_center {
    margin-top: 124px;
    margin-bottom: 114px;
}

.pins_info {
    margin-top: 55px;
    margin-left: 33px;
}

.pin_wrap {
    width: 219px;
}

.pin_wrap_center {
    margin: 45px 0;
}

.pin_title {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
}

.pin_text {
    color: #cfcfcf;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 17px;
}

/* SECTION SUBSCRIBE */

.sec_subscribe {
    background: url(../img/form-bg.jpg) no-repeat;
    background-size: cover;
    padding-top: 111px;
    padding-bottom: 168px;
}

.cointainer_sec_subscribe {
    display: flex;
}

.figure_quote {
    display: flex;
    align-items: center;
}

.figure_text {
    margin-left: 28px;
    color: #222224;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    width: 386px;
}

figcaption {
    margin-top: 16px;
    margin-left: 110px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
}

.figcap_span {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
}

.subscribe_wrap {
    display: flex;
    flex-direction: column;
    margin-left: 165px;
    margin-top: px;
}

.form_title {
    color: #222224;
    font-weight: 400;
    text-align: center;
}

.form_heading {
    font-size: 24px;
    letter-spacing: 0.6px;
    font-weight: 400;
    margin-bottom: 10px;
}

.form_text {
    font-size: 14px;
}

.subscribe_form {
    display: flex;
    margin-top: 35px;
}

.subs_form__input {
    border: none;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    width: 334px;
    height: 46px;
    padding-left: 28px;
}

.subcribe_form__btn {
    border-radius: 0 23px 23px 0;
    font-size: 14px;
    font-weight: 400;
}

/* FOOTER */

.footer {
    padding-top: 109px;
}

.footer_autro_wrap {
    display: flex;
    margin-bottom: 89px;
}

.logo_block {
    display: flex;
    align-items: center;
}

.brand_info {
    margin-right: 64px;
}

.brand_info_text {
    width: 427px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 20px;
}

.footer_nav {
    display: flex;
}

.footer_nav__heading {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.column2 {
    margin-left: 137px;
    margin-right: 97px;
}

.footer_nav__ul {
    list-style-type: none;
}

.footer_nav__list {
    margin-bottom: 25px;
}

.footer_nav__list:last-child {
    margin-bottom: 0;
}

.footer_nav__link {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.copyright {
    background-color: #e6e6e6;
    padding: 15px 0;
}

.copyright_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy_text {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
}

.copyright_links {
    display: flex;
}

.copyright_link {
    height: 32px;
    width: 32px;
    background: #fff;
    color: #000;
    display: block;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    margin-left: 8px;
    transition: all 0.2s;
}

.copyright_link:hover {
    color: #fff;
    background-color: #f16d7f;
}